@import './style-reset';
// @import './style-const';
@import './style-tools';

html, body, * {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: $secondaryLight;
  position: relative;
}

h1 {
  @include heading(1);
}

#root {
  width: 100vw;
  height: 100vh;
  @include flexContainer(column, nowrap, flex-start, center);

  & > header {
    @include flexContainer(row, nowrap, center, center);
    flex: 0 1 auto;
    width: 100%;
    height: 5rem;
    background-color: $primaryMedium;
    color: $contrastWhite;
  }

  & > .wrapper {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    flex: 1 1 auto;
    @include flexContainer(column, nowrap, flex-start, center);

    & > .toolbar-root {
      padding: 1rem 0 0;
      flex: 0 1 auto;
      width: 100%;

      & > .toolbar--button-list {
        @include flexContainer(row, wrap, space-around, center);

        & > .toolbar--button-list--item {
          @include flexContainer(row, nowrap, center, center);
          width: calc(100% / 3);

          & > .toolbar--button {
            min-width: 10rem;
            height: 2rem;
            width: 100%;
            background-color: $contrastWhite;
            color: $secondaryMedium;
            border: none;
            border-radius: 0.5rem 0.5rem 0 0;
            position: relative;
            opacity: 0.85;
            // border-bottom: 1px solid $secondaryLight;
            transition: color 300ms, opacity 300ms;

            &:after {
              display: block;
              width: 0;
              height: 2px;
              position: absolute;
              left: 50%;
              bottom: -1px;
              transform: translateX(-50%);
              content: '.';
              color: $transparent;
              background-color: $transparent;
              transition: width 300ms, background-color 300ms;
            }

            &.toolbar--button__active {
              color: $primaryMedium;
              font-weight: bolder;
              opacity: 1;

              &:after {
                display: block;
                width: 100%;
                background-color: $primaryMedium;
              }
            }
          }
        }
      }
    }

    & > main {
      padding: 1rem;
      margin-bottom: 1rem;
      // border: 1px solid grey;
      border-radius: 0 0 0.25rem 0.25rem;
      background-color: $contrastWhite;
      flex: 1 1 auto;
      height: calc(100% - 1rem);
      width: 100%;
      max-width: 800px;
    }
  }
}

#modalRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include flexContainer(column, nowrap, center, center);
  background-color: rgba(255,255,255,0.85);
  display: none;
  opacity: 0;
  transition: opacity 300ms;

  &.modal--root__active {
    opacity: 1;
    display: flex;
  }

  & > .modal--content {
    width: 6rem;
    height: 6rem;
    // border-radius: 50%;
    // border: 0.5rem solid $secondaryLight;
    position: relative;

    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 50%;
      border-bottom: 0.5rem solid $secondaryLight;
      content: ' ';
      animation: preloader 500ms infinite linear;
    }

    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 50%;
      border-bottom: 0.5rem solid $primaryMedium;
      content: ' ';
      animation: preloader 600ms infinite linear;
    }
  }
}

@keyframes preloader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
