//color
$primaryMedium: rgba(0,42,255,1);
$secondaryMedium: rgba(111,113,124,1);
$secondaryLight: rgba(190,191,196,1);
$contrastWhite: rgba(255,255,255,1);
$transparent: rgba(255,255,255,0);

//font-size
$headerFontSize: (2, 1.5, 1.17, 1, 0.83, 0.67);
