@import './style-const';

@mixin heading($type: 1) {
  $size: nth($headerFontSize, $type);
  font-size: #{$size}rem;
  font-weight: bolder;
  font-family: Arial, sans-serif;
  display: block;
}

@mixin flexContainer($direction: row, $wrapping: wrap, $justifyContent: flex-start, $alignItems: flex-start) {
  display: flex;
  flex-flow: $direction $wrapping;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
