<!doctype html>
<html lang="en">
<head>
    <base href="./" target="_blank">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="root">
        <header>
            <h1>Тестовое задание</h1>
        </header>
        <div class="wrapper">
            <div class="toolbar-root">
                <ul class="toolbar--button-list">
                    <li class="toolbar--button-list--item">
                        <button id="case1" class="toolbar--button">Promise.then</button>
                    </li>
                    <li class="toolbar--button-list--item">
                        <button id="case2" class="toolbar--button">Async/await</button>
                    </li>
                    <li class="toolbar--button-list--item">
                        <button id="case3" class="toolbar--button">Async generator</button>
                    </li>
                </ul>
            </div>
            <main>

            </main>
        </div>
    </div>
    <div id="modalRoot">
        <div class="modal--content"></div>
    </div>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
</body>
</html>